<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{player_name}} Game Log</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
</head>
<body class="bg-light p-2">

    {% include 'navbar.html' %}

    <h1 class="text-primary text-center my-4">{{player_name}} Game Log</h1>

    <form action="/game-log" method="post" class="text-center my-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <select id="playerSelect" name="player_name" required class="form-select" disabled>
                    <option value="">Select a Player</option>
                    {% for player in all_players %}
                        <option value="{{ player['full_name'] }}">{{ player['full_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-primary">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Opponent</th>
                    <th class="text-center">Points</th>
                    <th class="text-center">Rebounds</th>
                    <th class="text-center">Assists</th>
                </tr>
            </thead>
            <tbody>
                {% if game_log_data is not none %}
                {% for index, row in game_log_data.iterrows() %}
                    <tr>
                        <td class="text-center">{{row['GAME_DATE']}}</td>
                        <td class="text-center">{{row['MATCHUP']}}</td>
                        <td class="text-center">{{row['PTS']}}</td>
                        <td class="text-center">{{row['REB']}}</td>
                        <td class="text-center">{{row['AST']}}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-center" colspan="5">No data available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <script>
        window.onload = function() {
            document.getElementById('playerSelect').disabled = false;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>